<div class="container">
    <nav style="margin-bottom: 20px;" class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li 
                    class="active" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                ><a routerLink="">Home</a></li>
                <li 
                routerLinkActive="active"
                ><a routerLink="cars">Cars</a></li>
            </ul>
        </div>
    </nav>
  </div>
